* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/************************************************* Estilo temporal **********************************************/
.footer{
    display: none;
}


/********************************************** Fin estilo temporal *********************************************/



/**************************************************** Estilo del header ******************************************/

.header {
    padding: 20px;
    color: white;
}

/* Increase the font size of the h1 element */
.header h1 {
    font-size: 40px;
}

/*Contenedor de la fila de iconos para moverla como si fuera una sola*/
#social-media {
    float: right;
    margin-right: 35px;
    margin-top: -5px;
}

/*Modifica los iconos de la barra social-media*/
.icon-row span {
    color: #A981B3;
    font-size: 22px;
}

/*Modifica los iconos de la barra social media*/
.icon-row .fa:hover {
    color: #502552;
}

/*Modifica el logo del menu*/
#logo {
    position: absolute;
    top: 12px;
    left: 50px;
}

/*Modifica el titulo del menu*/
.titulo {
    position: absolute;
    left: 200px;
    top: 78px;
    font-weight: bold;
    font-size: 25px;
    color: #4E2350;

}

.btn-menu span{
    color:white;
    color: white;
    font-size: 30px;
    margin-top: -10px;
    margin-right: -5px;
}

/* Style the top navigation bar */
.navbar ul {
    overflow: hidden;
    list-style-type: none;
    background-color: #A981B3;
    display: flex;
    justify-content: flex-end;
    margin: 30px auto;
}

.navbar ul li > ul{
    display: none;
}

/* Style the navigation bar links */
.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Change color on hover */
.navbar a:hover {
    border-bottom: 5px solid #4E2350;
}

.navbar ul li:last-child{
    background-color:  #33907d;
}

.navbar ul li:last-child a:hover{
    border-bottom: 5px solid #1a653e;
}

.menu-bar {
    display: none;
}

/************ Breadcrumbs *************/
.breadcrumb ul{
    display: flex;
    list-style-type: none;
}
#breadcrumbs{
    position: absolute;
    margin: -37px 96px;
    font-size: 12px;
}
/************* Fin de breadcrumbs **************/




/********************************** Fin del estilo del header *****************************************************/